{% extends "default/panel/layout.html" %} 

{% block page_info %}
<li>
  <b>Controle de Custo</b>
</li>
<li>
  <a class="active">Detalhes</a>
</li>
{% endblock %}

{% block content %}
<div class="bg-white">
   <!-- START PANEL -->
   <div class="panel panel-transparent">
      <div class="panel-heading">
         <div class="panel-title">
            Controle de Custo
         </div>
         <div class="row">
            <!-- BASIC DATA -->
            <div class="col-lg-8 col-md-8 ">
               <!-- START PANEL -->
               <div class="panel panel-transparent">
                  <div class="panel-body">
                     <div class="row clearfix">
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Nome:</label>
                              {{object.nome}}
                           </div>
                        </div>
                        <div class="col-sm-6">
                        <div class="form-group form-group-default required" aria-required="true">
                              <label>Data:</label>
                              {{object.data}}
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Tipo de Renda:</label>
                              {{object.id_renda}}
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Vl. Ganho Renda:</label>
                              {{object.valor_ganho_renda}}
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Tipo de Despesa:</label>
                              {{object.id_despesa}}
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Vl. Anterior:</label>
                              {{object.valor_anterior_despesa}}
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Vl. Retirado:</label>
                              {{object.valor_retirado_despesa}}
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Vl. Atual:</label>
                              {{object.valor_atual_despesa}}
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Comentário:</label>
                              {{object.comentario}}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- END PANEL -->
            </div>
            <!-- END BASIC DATA -->
         </div>
      </div>
   </div>
   <!-- END PANEL -->
</div>
{% endblock %}