{% extends "default/panel/layout.html" %} 

{% block page_info %}
<li>
  <b>Divída</b>
</li>
<li>
  <a class="active">Detalhes</a>
</li>
{% endblock %}

{% block content %}
<div class="bg-white">
   <!-- START PANEL -->
   <div class="panel panel-transparent">
      <div class="panel-heading">
         <div class="panel-title">
            Divída
         </div>
         <div class="row">
            <!-- BASIC DATA -->
            <div class="col-lg-12 col-md-8 ">
               <!-- START PANEL -->
               <div class="panel panel-transparent">
                  <div class="panel-body">
                     <div class="row clearfix">
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Divída:</label>
                              {{object.nome_divida}}
                           </div>
                        </div>
                        <div class="col-sm-6">
                        <div class="form-group form-group-default required" aria-required="true">
                              <label>Data Início:</label>
                              {{object.data_inicio}}
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Data Atual:</label>
                              {{object.data_atual}}
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Data Fim:</label>
                              {{object.data_fim}}
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Parcelas:</label>
                              {{object.id_parcela}}
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Vl. Parcela:</label>
                              {{object.valor_parcela}}
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Vl. Total Divída:</label>
                              {{object.valor_divida}}
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-group-default required" aria-required="true">
                              <label>Vl. Pago:</label>
                              {{object.valor_pago}}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- END PANEL -->
            </div>
            <!-- END BASIC DATA -->
         </div>
      </div>
   </div>
   <!-- END PANEL -->
</div>
{% endblock %}