{% load staticfiles %}

{% if PROJECT_VALID %}
    {% if PROJECT_DATA.logo %}
        <img src="{{MEDIA_URL}}{{PROJECT_DATA.logo}}" alt="logo" data-src="{{MEDIA_URL}}{{PROJECT_DATA.logo}}" data-src-retina="{{MEDIA_URL}}{{PROJECT_DATA.logo}}" width="100" height="50">
    {% else %}
        <h1 style="color:white;"><b>{{PROJECT_DATA.nome}}</b></h1>
    {% endif %}
{% else %}
    <img src="{% static 'img/default/sparta.png' %}" alt="logo" data-src="{% static 'img/default/logo.png' %}" data-src-retina="{% static 'img/default/logo_2x.png' %}" width="65" height="40">
{% endif %}