<ul class="menu-items">
    <!-- MENU ITEM -->
    <!-- <li class="m-t-30">
        <a href="/framework/dashboard/home" class="detailed">
            <span class="title">Home</span>
        </a>
        <span class="icon-thumbnail bg-success"><i class="pg-home"></i></span>
    </li>
    <li>
        <a href="/framework/graph" class="detailed">
            <span class="title">Gráficos</span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
    </li> -->
    <!-- END MENU ITEM -->
    <!-- MENU ITEM -->
    <li class="">
        <a href="javascript:;">
            <span class="title">Gerência</span>
            <span class="arrow"></span>
        </a>
        <span class="icon-thumbnail bg-success"><i class="pg-home"></i></span>
        <!-- SECOND LEVEL -->
        <ul class="sub-menu">
            <!-- MENU ITEM -->
            <li class="">
                <a href="/sparta/divida/list/">Divída</a>
                <span class="icon-thumbnail">US</span>
            </li>
            <!-- END MENU ITEM -->
            <!-- SECOND MENU ITEM -->
            <li class="">
                <a href="/sparta/controlecusto/list/">Controle de Custo</a>
                <span class="icon-thumbnail">EMP</span>
            </li>
            <!-- END MENU ITEM -->
            <!-- SECOND MENU ITEM -->
            <li class="">
                <a href="/sparta/itensdesejados/list/">Itens Desejados</a>
                <span class="icon-thumbnail">EMP</span>
            </li>
            <!-- END MENU ITEM -->
            <!-- SECOND MENU ITEM -->
            <li class="">
                <a href="/sparta/seguranca/list/">Segurança</a>
                <span class="icon-thumbnail">EMP</span>
            </li>
            <!-- END MENU ITEM -->
        </ul>
        <!-- END SECOND LEVEL -->
    </li>
    <!-- END MENU ITEM -->
</ul>
<!-- MENU ITEM -->
</ul>
<div class="clearfix"></div>
